<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}CMS Lemonade Studio Demo{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/editor.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/lscore/front/js/lightbox/css/lightbox.min.css') }}">
        <link href="{{ asset('bundles/lscore/front/css/default.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}?v=3"/>
</head>
<body>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}
<div class="clear"></div>
{% block content %}{% endblock %}
{% block google_javascripts %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/lscore/front/js/lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/bootstrap-3.3.6/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/lscore/front/js/jquery.bxslider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/scripts.js') }}" type="text/javascript"></script>
<script>
      
    </script>
{% endblock %}

</body>
</html>
