{% if type is not defined %} {% set type = 'other' %} {% endif %}
	{% for photo in gallery.photos %}
		<div class="gallery-border">
 			<a class="example-image-link" href="{{ photo.getPhotoWebPath() }}" data-lightbox="example-set"><img class="example-image" src="{{ photo.getThumbWebPath(type) }}?{{ random(10000) }}" alt="" /></a>
 		</div>
	{% endfor %}
