{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '#limit-select', function () {
            var limit = $(this).val();
            $.ajax({
                type: 'post',
                url: '{{ path('ls_admin_offer_set_limit') }}',
                data: {
                    'limit': limit
                },
                success: function (response) {
                    window.location.pathname = '{{ path('ls_admin_offer') }}';
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_offer_examples_new', {'offer_id': offer_id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
                Dodaj
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if entities|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                Tytuł
                            </th>
                            <th>
                                Data publikacji
                            </th>
                            <th>Opcje</th>
                        </tr>
                        </thead>
                        <form action="{{ path('ls_admin_offer_batch') }}" method="post">
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td >
                                        {{ render(controller('LsOfferBundle:Admin:projectTitleInfo', { 'project_id': entity.realizationid })) }}
                                    </td>
                                    <td >
                                        {{ render(controller('LsOfferBundle:Admin:projectDateInfo', { 'project_id': entity.realizationid }))|localizeddate('long', 'none') }}
                                    </td>
                                    <td class="text-right opcje">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                            <a href="{{ path('ls_admin_offer_examples_edit',{'offer_id': offer_id, 'example_id': entity.id}) }}" title="Edytuj">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                            <a href="#" data-href="{{ path('ls_admin_offer_examples_delete',{'offer_id': offer_id, 'example_id': entity.id}) }}" class="btn-delete" title="Usuń" data-toggle="modal" data-target="#confirm-delete">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                </td>
                            </tr>
                            {% if entities.getPageCount > 1 %}
                                <tr>
                                    <td class="pagination-container" colspan="6">
                                        {{ knp_pagination_render(entities) }}
                                    </td>
                                </tr>
                            {% endif %}
                            </tfoot>
                        </form>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4>Usuwanie oferty</h4></div>
                <div class="modal-body">Czy napewno chcesz usunąć tę ofertę?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <a href="#" class="btn btn-danger btn-ok-delete">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
