<div class="actual-block">
    <div class="header1">Aktualności</div>
    {% for article in entities %}
    <div onclick="javascript:location.href='{{ path('ls_news_show', {'slug': article.slug}) }}'"  class="actual-item">
        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}">
        <div class="actual-link"><a href="{{ path('ls_news_show', {'slug': article.slug}) }}">{{ article.title|truncate(42) }}</a></div>
    </div>
    {% endfor %}
</div>
<div class="show-actuals-btn">
	<a href="{{ path('ls_news') }}">Zobacz wszystkie</a>
</div>
