{% for article in entities %}
    <div onclick="javascript:location.href='{{ path('ls_news_show', {'slug': article.slug}) }}'" class="actual-page-item">
        {% if article.getPhotoWebPath != null %}
            <div class="photo">
                <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
                <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
            </div>
        {% endif %}
        <div class="actual-item-container">
            <div class="actual-item-container-group">
                <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>
                <div class="text">{{ article.contentshort }}</div>
                <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="more"></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}