{% extends '::frontend.html.twig' %}

{% block title %}Aktualności - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="page-bg">
        <div class="pagebg">
            <img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
            <div class="page-background-triangle"></div>
        </div>
    </div>


    <div class="page-container">

        <div class="container">
            <div class="left-container">
                <div class="page-title actuals-title">Aktualności
                    <a class="to-list" href="{{ path('ls_news') }}">Powrót do listy</a>
                </div>
                <div class="actual-detail-date">{{ entity.publishedat|date('d.m.Y') }}</div>
                <div class="actual-detail-title">{{ entity.title }}</div>

                <div class="separator"></div>
                <div class="content-text">{{ entity.content|raw }}</div>
                {% if entity.gallery %}
                    <div class="gallery">
                        {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: entity.gallery } %}
                    </div>
                {% endif %}
            </div>

            <div class="right-container">

                <div class="right-button-container">
                    <div class="big-button button1">
                        <a class="link-button" href="{{ path('ls_realizations') }}">Przejdź do mapy<br> z naszymi realizacjami</a>
                    </div>
                    <div class="big-button button2">
                        <a class="link-button" href="{{ path('ls_offer') }}">Zobacz naszą ofertę!</a>
                    </div>
                </div>

                <div class="actual-block">
                    <div class="header1">Pozostałe aktualności</div>
                    {% for article in entities %}
                    <div onclick="javascript:location.href='{{ path('ls_news_show', {'slug': article.slug}) }}'"  class="actual-item">
                        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}">
                        <div class="actual-link"><a href="{{ path('ls_news_show', {'slug': article.slug}) }}">{{ article.title }}</a></div>
                    </div>
                    {% endfor %}
                </div>

                {{ render(controller('LsBannerBundle:Front:block')) }}
            </div>

        </div>
    </div>

{% endblock %}