<div id="desc" class="partners">
    <div class="partners-container">
        <div class="header1">Partnerzy</div>
            <div class="partners-img">
    			{% for partner in entities %}
    				{% if partner.link is not null %}
                		<a href="{{ partner.link }}"><img src="{{ partner.getPhotoWebPath() }}?{{ random(10000) }}"></a>
    				{% else %}
    					<a><img src="{{ partner.getPhotoWebPath() }}?{{ random(10000) }}"></a>
    				{% endif %}
                {% endfor %}
            </div>
    </div>
</div>