{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);
            var numFiles = input.get(0).files ? input.get(0).files.length : 1;
            var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.datepicker').datetimepicker({
                locale: 'pl'
            });

            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text');
                var log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    </script>

<script type="text/javascript">
function initMap() {

    {% if entity.latitude is null or entity.longitude is null %}
        {% set latitude = '50.0368962' %}
        {% set longitude = '21.9695504' %}
        var myLatLng = new google.maps.LatLng( {{latitude}}, {{longitude}} );
        var markerLatLng;
    {% else %}
        {% set latitude = entity.latitude %}
        {% set longitude = entity.longitude %}
        var myLatLng = new google.maps.LatLng( {{entity.latitude}}, {{entity.longitude}} );
        markerLatLng = myLatLng;
    {% endif %}

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 12,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,

    });

    var icon = '{{asset('/bundles/lscore/front/images/markers/')}}{{entity.markertype}}.png';
    
    var marker = new google.maps.Marker({
        map: map,
        icon: icon,
        position: markerLatLng
    });

    google.maps.event.addListener(map, 'click', function (event) {
        marker.setPosition(event.latLng);
        document.getElementById("form_admin_realizations_latitude").value = event.latLng.lat();
        document.getElementById("form_admin_realizations_longitude").value = event.latLng.lng();
    });
    
    $('ul.nav-tabs').on('shown.bs.tab', function (e) {
      // Trigger map resize when tab is shown
        google.maps.event.trigger(map, "resize");
        map.setCenter(new google.maps.LatLng( {{ latitude }}, {{ longitude }}));
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy5qp0JCaC0P3scZ-SwIczfPTmDl1cPBA&callback=initMap" async defer></script>


<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var Count = '{{ form.options|length }}';
    jQuery(document).ready(function() {
        jQuery('#add-prototype').click(function(e) {
            e.preventDefault();
            
            var List = jQuery('#prototype-list');

            // grab the prototype template
            var newWidget = List.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, Count);
            Count++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(List);
        });
    })
</script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.title) }}
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_realizations') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-photo">Mapa</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-seo">SEO</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-new-photo">Zdjęcie</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-ustawienia" class="tab-pane active">
                    <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                            {% if form.title.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.published_at, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                {{ form_widget(form.published_at, {'attr': {'class': 'form-control datepicker', 'autocomplete': 'off' }}) }}
                                <label for="{{ form.published_at.vars.id }}" class="input-group-addon btn">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    {% include 'LsGalleryBundle:Form:_gallery_field.html.twig' with {'form': form} %}

                    <div class="form-group">
                        {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.type, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.industry, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.industry, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>                    

                    <div class="form-group">
                        {{ form_label(form.province, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.province, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div> 

                    <div class="form-group">
                        {{ form_label(form.city, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.city, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div> 

                    <div class="form-group">
                        {{ form_label(form.sizeparam, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.sizeparam, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div> 

                    <div class="form-group">
                        {{ form_label(form.options, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            <ul id="prototype-list" data-prototype="{{ form_widget(form.options.vars.prototype)|e }}">
                            {% for option in form.options %}
                                <li>
                                    {{ form_errors(option) }}
                                    {{ form_widget(option) }}
                                </li>
                            {% endfor %}
                            </ul>
                            <a href="#" id="add-prototype">Dodaj</a>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.content, {'attr': {'class': 'wysiwyg' }}) }}
                        </div>
                    </div>
                </div>
                <div id="tab-photo" class="tab-pane">

                    <div class="form-group">
                        {{ form_label(form.markertype, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {% for vars in form.markertype.children %}
                                <div class="markertype">{{form_widget(vars.vars.form, {'attr': {'class': 'select-marker', }})}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <h3>Wybierz na mapie:</h3>
                            <div id="map" style="width: 100%; height:300px;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3>Lub podaj współrzędne</h3>
                            {{ form_label(form.latitude, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.latitude, {'attr': {'class': 'form-control latitude', }}) }}
                            </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.longitude, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.longitude, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>
                <div id="tab-seo" class="tab-pane">
                    <div class="form-group">
                        {{ form_label(form.slug, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.slug, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {{ form_widget(form.seo_generate) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.seo_title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.seo_title, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.seo_keywords, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.seo_keywords, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.seo_description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.seo_description, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>
                <div id="tab-new-photo" class="tab-pane">
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="control-label col-sm-3">&nbsp;</div>
                        <div class="col-sm-9">
                            <p class="help-block">Nie mniejsze niż {{ size.width }} x {{ size.height }} px</p>
                        </div>
                    </div>
                    <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                                <span class="input-group-btn">
                                    <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                        Przeglądaj... {{ form_widget(form.file) }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if entity.getPhotoWebPath != null %}
                        <div class="form-group">
                            <div class="control-label col-sm-3">Aktualne zdjęcie</div>
                            <div class="col-sm-9">
                                <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">&nbsp;</div>
                            <div class="col-sm-9">
                                <p class="help-block">Kliknij w miniaturkę aby wykadrować</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-3">Miniatura na listę</div>
                            <div class="col-sm-9">
                                <a href="{{ path('ls_admin_realizations_crop', {'id': entity.id, 'type' : 'list'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;">
                                    <img src="{{ entity.getThumbWebPath('list') }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}