 {% set session_value = entity.getCookieId + 1 %}

{% if app.session.get('popup') != session_value and entity.link is not null %}
    <div id="allpopup" data-cookie="popup" style="" class="fadein">
        <div class="image">
            <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}">
            <div class="close-popup" onclick="closePopup('{{ path('ls_adv_close', {'value': session_value }) }}');$('#allpopup').remove();"></div>
            <a class="more" href="{{ entity.link }}" onclick="closePopup('{{ path('ls_adv_close', {'value': session_value }) }}');return true;"></a>
        </div>
    </div>
{% endif %}
