{% extends '::frontend.html.twig' %}

{% block content %}
    <div class="content">
        <div class="message">
            <ul class="unstyled inline">
                <li>
                    <img src="{{ asset('bundles/lscore/front/images/logo.png') }}" alt="Lemonade Studio" class="logo">
                </li>
                <li class="vline"></li>
                <li>
                    <a href="{{ path('ls_core_admin') }}" id="panel">Zaloguj się do panelu</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}