/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-12-01, 15:33:20
    Author     : Tomasz Jacek
*/
$green-color: #909c03;
body, html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
ul {
    &.unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &.inline {
        li {
            display: inline-block;
        }
    }
}
.content {
    background: url("../images/main-bg.jpg") no-repeat;
    background-position: center 0;
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 1001;
    width: 100%;
    .message {
        $value: 200px;
        position: absolute;
        left: 0;
        right: 0;
        height: $value;
        line-height: $value;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        z-index: 1002;
        @media screen and (max-width: 605px) {
            line-height: 80px;
        }
        ul {
            li {
                vertical-align: middle;
                width: 290px;
                @media screen and (max-width: 605px) {
                    width: 100%;
                }
                &:first-child {
                    margin-right: 15px;
                }
                &.vline {
                    background: linear-gradient(to bottom, transparent, #d4d4d4, transparent);
                    background-position: center center;
                    background-size: cover;
                    text-align: center;
                    height: 118px;
                    width: 2px;
                    @media screen and (max-width: 605px) {
                        display: none;
                    }
                }
                a {
                    &#panel {
                        border: 2px solid $green-color;
                        border-radius: 30px;
                        color: #000;
                        font: {
                            family: 'Kyrial Sans Bold', sans-serif;
                            size: 12px;
                            weight: 700;
                        }
                        text-decoration: none;
                        padding: 15px 30px;
                        transition: background .3s, color .3s;
                        text-transform: uppercase;
                        &:hover {
                            background-color: $green-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

