@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.eot');
    src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Light.woff') format('woff'),
        url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu-Medium.eot');
    src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold.woff') format('woff'),
        url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.eot');
    src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu.woff') format('woff'),
        url('../fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.editor {
    width: 588px;
}

p {
    margin: 0;
    padding: 0;
}

span {
    margin: 0;
    padding: 0;
}

.text2 {
    font-family: "Ubuntu-Medium";
    font-size: 14px;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
}

p.text2 {
    font-family: "Ubuntu-Medium";
    font-size: 14px;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
}

p.text1 {
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 1.78em;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Ubuntu-Regular";
    font-size: 14px;
    line-height: 1.78em;
    margin: 0;
    padding: 0;
}

.text1 {
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 1.78em;
    margin: 0;
    padding: 0;
}

.normal {
    font-family: "Ubuntu-Regular";
    font-size: 14px;
    line-height: 1.78em;
    margin: 0;
    padding: 0;
}

.editor a {
    color: #25aae1;
    text-decoration: underline;
}

.editor a:hover {
    color: #51bbe7;
    text-decoration: underline;
}

span.orange {
    color: #ffa33d !important;
}

.page-container ul,
.editor ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.page-container li,
.editor li,
.list-style {
    font-family: "Ubuntu-Regular";
    font-weight: normal;
    position: relative;
    font-size: 14px;
    padding-left: 16px;
    margin-top: 5px;
    line-height: 1.79em;
    width: 87%;
}

.page-container li:before,
.editor li:before,
.list-style:before {
    content: "";
    width: 5px;
    height: 8px;
    background: url(../images/list.png) no-repeat;
    display: inline-block;
    position: absolute;
    left: 1px;
    top: 8px;
    height: 100%;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .page-container li,
    .editor li,
    .list-style {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .normal {
        line-height: 1.75em;
    }

    .page-container li,
    .editor li,
    .list-style {
        font-family: "Ubuntu-Regular";
        font-weight: normal;
        position: relative;
        font-size: 14px;
        padding-left: 16px;
        margin-top: 6px;
        line-height: 1.78em;
        width: 100%;
    }
}