{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
    <div class="pages">
    {% for page in pagesInRange %}
        {% if page != current %}
        <div class="page">
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            <div class="bottom"></div>
        </div>
        {% else %}
        <div class="page current">
            <span>{{ page }}</span>
            <div class="bottom"></div>
        </div>
        {% endif %}
    {% endfor %}
        <div class="clear"></div>
    </div>
    <div class="pages-control-container">
        <div class="pages-control">
    {% if previous is defined %}
            <div class="previous">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"></a>
            </div>
    {% else %}
            <div class="previous previous-inactive"></div>
    {% endif %}

    {% if next is defined %}
            <div class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"></a>
            </div>
    {% else %}
            <div class="next next-inactive"></div>
    {% endif %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endif %}
