<div class="actual-block">
    <div class="header1">Aktualności</div>
    {% for article in entities %}
    <div class="actual-item">
        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}">
        <div class="actual-link"><a href="{{ path('ls_news_show', {'slug': article.slug}) }}">{{ article.title }}</a></div>
    </div>
    {% endfor %}
</div>
