{% extends '::frontend.html.twig' %}

{% block title %}Realizacje - {{ parent() }}{% endblock %}

{% block content %}
	<div class="page-bg">
		<div class="pagebg">
			<img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
			<div class="page-background-triangle"></div>
		</div>
	</div>


    <div id="realizations-list" class="page-container">

    	<div class="container">
    		<div class="page-title">Realizacje</div>
    		<div class="page-title-2">Zrealizowaliśmy <span class="orange">{{count}}</span> inwestycji w <span class="orange">{{city_count}}</span> miastach.</div>
    		<div class="page-title-3">Wyszukaj realizację, aby dowiedzieć się więcej:</div>
    		<div id="realizations-map"></div>
            <div class="realizations-filter">
                <div class="nazwa">
                    Nazwa
                    <div id="nazwa-type">
                        <input name="title" class="typeahead" id="nazwa-input" type="text">
                    </div>
                </div>
                <div class="rodzaj">
                    Rodzaj
                    <select id="rodzaj-option" name="type" onchange="changeOption();">
                                <option value="" selected="selected"></option>
                        {% set typeArray = [] %}
                        {% for entity in entities %}
                            {% if entity.type not in typeArray %}
                                <option value="{{entity.type}}">{{entity.type}}</option> 
                                {% set typeArray = typeArray|merge([entity.type]) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="branza">
                    Branża
                    <select id="branza-option" name="industry" onchange="changeOption();">
                                <option value="" selected="selected"></option>
                        {% set industryArray = [] %}
                        {% for entity in entities %}
                            {% if entity.industry not in industryArray %}
                                <option value="{{entity.industry}}">{{entity.industry}}</option> 
                                {% set industryArray = industryArray|merge([entity.industry]) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="wojewodztwo">
                    Województwo
                    <select id="wojewodztwo-option" id="select-" name="province" onchange="changeOption();">
                                <option value="" selected="selected"></option>
                        {% set provinceArray = [] %}
                        {% for entity in entities %}
                            {% if entity.province not in provinceArray %}
                                <option value="{{entity.province}}">{{entity.province}}</option> 
                                {% set provinceArray = provinceArray|merge([entity.province]) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="miejscowosc">
                    Miejscowość
                    <div id="miejscowosc-type">
                        <input id="miejscowosc-input" class="typeahead" {% if index_city != 'null' %} value="{{index_city}}" {% endif %} type="text">
                    </div>
                </div>
            </div>
    		<div class="realizations-list">
    			<table class="realizations">
			  		<tr class="table-head">
			    		<th class="nazwa first-col">Nazwa</th>
			    		<th class="rodzaj">Rodzaj</th>
			    		<th class="branza">Branża</th>
			    		<th class="wojewodztwo">Województwo:</th>
			    		<th class="miejscowosc">Miejscowość:</th>
			  		</tr>
				</table>
				<div class="list-ajax-loader">Ładowanie...</div>
			</div>
	    </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
function initMap() {
    var center = new google.maps.LatLng(50.84063582806037, 20.654296875);

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('realizations-map'), {
        center: center,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 7,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,

    });
    {% for entity in on_map %}
    	{% if entity.latitude is not null and entity.longitude is not null %}
	    	var markerLatLng = new google.maps.LatLng({{ entity.latitude }}, {{ entity.longitude }});
		    var icon = '{{asset("/bundles/lscore/front/images/markers/")}}{{ entity.markertype }}.png ';
		    var marker = new google.maps.Marker({
		        map: map,
		        icon: icon,
		        title: '{{ entity.title }}',
		        position: markerLatLng,
                url: "{{ path('ls_realizations_show',{'slug': entity.slug}) }}"
		    });
            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
            });
		{% endif %}
	{% endfor %}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy5qp0JCaC0P3scZ-SwIczfPTmDl1cPBA&callback=initMap" async defer></script>


<script type="text/javascript">
    function loadRealizations(title, type, industry, province, city) {
        first_loading = false;
        $('.result-error').hide();
        var realizations_loading = true;
        var realizations_loading_page = 1;
        var realizations_loading_allow = {{ allow }};

        var route = "{{ path('ls_realizations_ajax_more', { 'title': "TITLE_PLACEHOLDER", 'type': "TYPE_PLACEHOLDER", 'industry': "INDUSTRY_PLACEHOLDER", 'province': "PROVINCE_PLACEHOLDER",  'city': "CITY_PLACEHOLDER"}) }}";
        route = route.replace("TITLE_PLACEHOLDER", title);
        route = route.replace("TYPE_PLACEHOLDER", type);
        route = route.replace("INDUSTRY_PLACEHOLDER", industry);
        route = route.replace("PROVINCE_PLACEHOLDER", province);
        route = route.replace("CITY_PLACEHOLDER", city);

        if (realizations_loading_allow == true) {
            $('.realizations .table-body').hide();
            $('.list-ajax-loader').show();
            realizations_loading = false;
            $.ajax({
                type: 'post',
                url: route,
                data: {
                    page: 0
                },
                success: function (response) {
                    $('table').append(response.html);
                    $('.list-ajax-loader').hide();
                    realizations_loading_allow = response.allow;
                },
                error: function (response) {
                    $('.result-error').show();
                }
            });     
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() > ($(document).height() - $(window).height() - $('.partners').outerHeight()-200)) {
                if (realizations_loading_allow == true && realizations_loading == false) {
                    realizations_loading = true;
                    $('.list-ajax-loader').show();
                    $('.result-error').hide();
                    $.ajax({
                        type: 'post',
                        url: route,
                        data: {
                            page: realizations_loading_page
                        },
                        success: function (response) {
                            realizations_loading_page++;
                            realizations_loading_allow = response.allow;
                            $('table').append(response.html);
                            $('.list-ajax-loader').hide();
                            realizations_loading = false;
                        }
                    });
                }
            }
        });
    }
    function loadFirstRealizations(title, type, industry, province, city) {
        $('.result-error').hide();
        var realizations_loading_page = 1;
        var realizations_loading_allow = {{ allow }};
        var realizations_loading = true;
        var route = "{{ path('ls_realizations_ajax_more', { 'title': "TITLE_PLACEHOLDER", 'type': "TYPE_PLACEHOLDER", 'industry': "INDUSTRY_PLACEHOLDER", 'province': "PROVINCE_PLACEHOLDER",  'city': "CITY_PLACEHOLDER"}) }}";
        route = route.replace("TITLE_PLACEHOLDER", title);
        route = route.replace("TYPE_PLACEHOLDER", type);
        route = route.replace("INDUSTRY_PLACEHOLDER", industry);
        route = route.replace("PROVINCE_PLACEHOLDER", province);
        route = route.replace("CITY_PLACEHOLDER", city);

        if (window['first_loading'] == null && realizations_loading_allow == true) {
            $('.realizations .table-body').hide();
            $('.list-ajax-loader').show();
            realizations_loading = false;
            $.ajax({
                type: 'post',
                url: route,
                data: {
                    page: 0
                },
                success: function (response) {
                    $('table').append(response.html);
                    $('.list-ajax-loader').hide();
                    realizations_loading_allow = response.allow;
                },
                error: function (response) {
                    $('.result-error').show();
                }
            });     
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() > ($(document).height() - $(window).height() - $('.partners').outerHeight()-200)) {
                if (realizations_loading_allow == true && realizations_loading == false && window['first_loading'] == null) {
                    realizations_loading = true;
                    $('.list-ajax-loader').show();
                    $('.result-error').hide();
                    $.ajax({
                        type: 'post',
                        url: route,
                        data: {
                            page: realizations_loading_page
                        },
                        success: function (response) {
                            realizations_loading_page++;
                            realizations_loading_allow = response.allow;
                            $('table').append(response.html);
                            $('.list-ajax-loader').hide();

                            realizations_loading = false;
                        }
                    });
                }
            }
        });
    }

loadFirstRealizations('null', 'null', 'null', 'null', '{{ index_city }}');
</script>

<script src="{{ asset('bundles/lscore/front/js/typeahead.bundle.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    function unique(arr) {
      var obj = {};

      for (var i = 0; i < arr.length; i++) {
        var str = arr[i];
        obj[str] = true; // запомнить строку в виде свойства объекта
      }

      return Object.keys(obj); // или собрать ключи перебором для IE8-
    }

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
      };
    };
    var title = [];
    var city_array = [];
    {% set titleArray = [] %}
    {% set cityArray = [] %}

        {% for entity in on_map %}
                title.push('{{entity.title}}');
                city_array.push('{{entity.city}}');
        {% endfor %}

        title = unique(title);
        city_array = unique(city_array);

    $('#nazwa-type .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'title',
      source: substringMatcher(title)
    });

    $('#miejscowosc-type .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'city',
      source: substringMatcher(city_array)
    });
</script>
<script type="text/javascript">
    $("#miejscowosc-type #tt-menu, #nazwa-type #tt-menu").on('click', function(event) {
        setTimeout(function() {
            var first_loading = true;
                var name = document.getElementById('nazwa-input').value;
                var city = document.getElementById('miejscowosc-input').value;
                var type = document.getElementById('rodzaj-option').value;
                var industry = document.getElementById('branza-option').value;
                var province = document.getElementById('wojewodztwo-option').value;
                if(name == "") {name = 'null';}
                if(city == "") {city = 'null';}
                if(type == "") {type = 'null'; }
                if(industry == "") {industry = 'null';}
                if(province == "") {province = 'null';}
                //showFirstRealizations(name, type, industry, province, city);
                loadRealizations(name, type, industry, province, city);
        }, 500);
    });

    function changeOption() {
        setTimeout(function() {
                var name = document.getElementById('nazwa-input').value;
                var city = document.getElementById('miejscowosc-input').value;
                var type = document.getElementById('rodzaj-option').value;
                var industry = document.getElementById('branza-option').value;
                var province = document.getElementById('wojewodztwo-option').value;
                if(name == "") {name = 'null';}
                if(city == "") {city = 'null';}
                if(type == "") {type = 'null'; }
                if(industry == "") {industry = 'null';}
                if(province == "") {province = 'null';}
                //showFirstRealizations(name, type, industry, province, city);
                loadRealizations(name, type, industry, province, city);
        }, 500);
    }
    var click = false;
    $( "#nazwa-input" ).keydown(function() {
        var name = document.getElementById('nazwa-input').value;
        var city = document.getElementById('miejscowosc-input').value;
        var type = document.getElementById('rodzaj-option').value;
        var industry = document.getElementById('branza-option').value;
        var province = document.getElementById('wojewodztwo-option').value;
        if(name == "") {name = 'null';}
        if(city == "") {city = 'null';}
        if(type == "") {type = 'null'; }
        if(industry == "") {industry = 'null';}
        if(province == "") {province = 'null';}
        var key = event.keyCode || event.charCode;
        if( key == 8 || key == 46 ) {
            if ((name.length) > 1) {
                click = true;
            }
            if ((name.length-1) == 0 && click == true) {
                name = 'null';
                //showFirstRealizations(name, type, industry, province, city);
                loadRealizations(name, type, industry, province, city);
                click = false;
            }
        }
    });

    $( "#miejscowosc-input" ).keydown(function() {
        var name = document.getElementById('nazwa-input').value;
        var city = document.getElementById('miejscowosc-input').value;
        var type = document.getElementById('rodzaj-option').value;
        var industry = document.getElementById('branza-option').value;
        var province = document.getElementById('wojewodztwo-option').value;
        var allow = true;
        if(name == "") {name = 'null';}
        if(city == "") {city = 'null';}
        if(type == "") {type = 'null'; }
        if(industry == "") {industry = 'null';}
        if(province == "") {province = 'null';}
        var key = event.keyCode || event.charCode;
        if( key == 8 || key == 46 ) {
            if ((city.length) > 1) {
                click = true;
            }
            if ((city.length-1) == 0 && click == true) {
                city = 'null';
                //showFirstRealizations(name, type, industry, province, city);
                loadRealizations(name, type, industry, province, city);
                click = false;
            }
        }
    });
</script>

{% endblock %}