{% if entities is empty %}
	<div class="result-error">Brak wyników</div>
{% else %}
	{% for entity in entities%}
	    <tbody onclick="window.location='{{ path('ls_realizations_show',{'slug': entity.slug}) }}'" class="table-body">
 			<tr class="table-cont"><td class="tablet-nazwa tablet-table">Nazwa:</td><td class="nazwa first-col c-text-right">{{entity.title}}</td></tr>
	        <tr class="table-cont"><td class="tablet-rodzaj tablet-table">Rodzaj:</td><td class="rodzaj c-text-right">{{entity.type}}</td></tr>
	        <tr class="table-cont"><td class="tablet-branza tablet-table">Branża:</td><td class="branza c-text-right">{{entity.industry}}</td></tr>
	        <tr class="table-cont"><td class="tablet-wojewodztwo tablet-table">Województwo:</td><td class="wojewodztwo c-text-right">{{entity.province}}</td></tr>
	        <tr class="table-cont"><td class="tablet-miejscowosc tablet-table">Miejscowość:</td><td class="miejscowosc c-text-right">{{entity.city}}</td></tr>
	    </tbody>
	{% endfor %}
{% endif %}