{% extends '::frontend.html.twig' %}

{% block title %}Realizacje - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="page-bg">
        <div class="pagebg">
            <img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
            <div class="page-background-triangle"></div>
        </div>
    </div>


    <div id="realizations" class="page-container">

        <div class="container">
            <div class="left-container">
                <div class="page-title actuals-title">Realizacje
                </div>
                <div class="actual-detail-title">{{ entity.title }}</div>

                    <div class="right-container-tablet">
                    <a class="realization-to-list to-list" href="{{ path('ls_realizations') }}">Powrót do listy realizacji</a>
                        <div class="right-about-container">
                            <div class="title">Charakterystyka:</div>
                            <div class="realizations-detail-list">
                                <div class="feature-title">Wymiary:</div>
                                <div class="feature">{{entity.sizeparam}}</div>

                                <div class="feature-title">Lokalizacja:</div>
                                <div class="feature">{{entity.city}}</div>

                                <div class="feature-title">Województwo:</div>
                                <div class="feature">{{entity.province}}</div>

                                <div class="feature-title">Branża:</div>
                                <div class="feature">{{entity.industry}}</div>

                                <div class="feature-title">Typ hali:</div>
                                <div class="feature">{{entity.type}}</div>
                                {% if options is not null %}
                                    {% for option in options %}
                                        <div class="feature-title">{{option.label}}</div>
                                        <div class="feature">{{option.value}}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if entity.latitude is not null and entity.longitude is not null %}
                            <div id="realization-detail-map-tablet"></div>
                        {% endif %}
                    </div>

                <div class="separator"></div>
                <div class="content-text">{{ entity.content|raw }}</div>
                {% if entity.gallery %}
                    <div class="gallery">
                        {{ include ("LsGalleryBundle:Front:_hasgallery.html.twig", { 'gallery': entity.gallery, 'type': 'detail' }) }}
                    </div>
                {% endif %}
            </div>

            <div class="right-container">
            <a class="realization-to-list to-list" href="{{ path('ls_realizations') }}">Powrót do listy realizacji</a>
                <div class="right-about-container">
                    <div class="title">Charakterystyka:</div>
                    <div class="realizations-detail-list">
                        <div class="feature-title">Wymiary:</div>
                        <div class="feature">{{entity.sizeparam}}</div>

                        <div class="feature-title">Lokalizacja:</div>
                        <div class="feature">{{entity.city}}</div>

                        <div class="feature-title">Województwo:</div>
                        <div class="feature">{{entity.province}}</div>

                        <div class="feature-title">Branża:</div>
                        <div class="feature">{{entity.industry}}</div>

                        <div class="feature-title">Typ hali:</div>
                        <div class="feature">{{entity.type}}</div>
                        {% if options is not null %}
                            {% for option in options %}
                                <div class="feature-title">{{option.label}}</div>
                                <div class="feature">{{option.value}}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if entity.latitude is not null and entity.longitude is not null %}
                    <div id="realization-detail-map"></div>
                {% endif %}
            </div>

        </div>
    </div>
{% if entity.latitude is not null and entity.longitude is not null %}
    <div id="realization-detail-map-mobile"></div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% if entity.latitude is not null and entity.longitude is not null %}
<script type="text/javascript">
function initMap() {
    var center = new google.maps.LatLng({{entity.latitude}}, {{entity.longitude}});

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('realization-detail-map'), {
        center: center,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 14,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,
        scrollwheel: false,
    });

    var map1 = new google.maps.Map(document.getElementById('realization-detail-map-mobile'), {
        center: center,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 14,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,
        scrollwheel: false,
    });

    var map2 = new google.maps.Map(document.getElementById('realization-detail-map-tablet'), {
        center: center,
        mapTypeControl: true,
        scrollwheel: true,
        zoom: 14,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: true,
        scrollwheel: false,
    });
            var markerLatLng = new google.maps.LatLng({{ entity.latitude }}, {{ entity.longitude }});
            var icon = '{{asset("/bundles/lscore/front/images/markers/")}}{{ entity.markertype }}.png ';
            var marker = new google.maps.Marker({
                map: map,
                icon: icon,
                title: '{{ entity.title }}',
                position: markerLatLng,
                url: "{{ path('ls_realizations_show',{'slug': entity.slug}) }}"
            });
            var marker = new google.maps.Marker({
                map: map1,
                icon: icon,
                title: '{{ entity.title }}',
                position: markerLatLng,
                url: "{{ path('ls_realizations_show',{'slug': entity.slug}) }}"
            });
            var marker = new google.maps.Marker({
                map: map2,
                icon: icon,
                title: '{{ entity.title }}',
                position: markerLatLng,
                url: "{{ path('ls_realizations_show',{'slug': entity.slug}) }}"
            });
            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
            });
        
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy5qp0JCaC0P3scZ-SwIczfPTmDl1cPBA&callback=initMap" async defer></script>
{% endif %}
{% endblock %}