{% extends '::frontend.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
	<div class="page-bg">
		<div class="pagebg">
			<img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
			<div class="page-background-triangle"></div>
		</div>
	</div>
    <div class="page-container">

    	<div class="container">
    		<div class="left-container">
		        <div class="page-title">{{ entity.title }}</div>
		        <div>{{ entity.content|raw }}</div>
		        {% if entity.gallery %}
		            <div class="gallery">
		                {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: entity.gallery } %}
		            </div>
		        {% endif %}
		    </div>

		    <div class="right-container">

		    	<div class="right-button-container">
		    		<div class="big-button button1">
		    			<a class="link-button" href="{{ path('ls_realizations') }}">Przejdź do mapy<br> z naszymi realizacjami</a>
		    		</div>
		    		<div class="big-button button2">
		    			<a class="link-button" href="{{ path('ls_offer') }}">Zobacz naszą ofertę!</a>
		    		</div>
		    	</div>

				{{ render(controller('LsNewsBundle:Front:block')) }}
			    {{ render(controller('LsBannerBundle:Front:block')) }}
		    </div>

	    </div>
    </div>
{% endblock %}