{% set line_color = ['#a9b900', '#fd5200', '#015093'] %}
{% set i = 0 %}
<div class="banner-block">
	<div class="header1">Bannery</div>
	<div class="banner-container">
	{% for banner in entities %}
		<div onclick="javascript:location.href='{{ banner.link }}'" class="banner-item">
			<div class="banner-img"><img src="{{ banner.getThumbWebPath('list') }}?{{ random(10000) }}"></div>
			<div class="banner-link"><a href="{{ banner.link }}">{{ banner.title }}</a></div>
			<div style="background: {{line_color[i]}};" class="banner-line"></div>
				{% if i<2 %} 
					{% set i = i+1 %}
				{% else %} 
					{% set i = 0 %} 
				{% endif %}
		</div>
	{% endfor %}
	</div>
</div>