{% if entities is not empty %}
	<div class="actual-block">
	    <div class="header1">Przykłady realizacji</div>
	    {% for article in entities %}
	    <div onclick="javascript:location.href='{{ path('ls_realizations_show', {'slug': article.slug}) }}'" class="actual-item">
	        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}">
	        <div class="actual-link"><a href="{{ path('ls_realizations_show', {'slug': article.slug}) }}">{{ article.title }}</a></div>
	    </div>
	    {% endfor %}
	</div>
<div id="offer-btn" class="show-actuals-btn">
	<a href="{{ path('ls_realizations') }}">Zobacz wszystkie realizacje</a>
</div>

{% endif %}