{% extends '::frontend.html.twig' %}

{% block title %}Oferta - {{ parent() }}{% endblock %}

{% block content %}
	<div class="page-bg">
		<div class="pagebg">
			<img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
			<div class="page-background-triangle"></div>
		</div>
	</div>


    <div id="offer" class="page-container">
    	<div class="container">
    		<div class="offer-container">
		        <div class="page-title actuals-title">Oferta</div>
		        <div class="offer-select-title">Wybierz interesującą Cię kategorię:</div>
		        <div class="offer-list-container">{% include "LsOfferBundle:Front:list.html.twig" with {'entities': entities} %}</div>
		    </div>
	    </div>
    </div>

{% endblock %}