{% for article in entities %}
    <div onclick="javascript:location.href='{{ path('ls_offer_show', {'slug': article.slug}) }}'" class="offer-page-item">
        {% if article.getPhotoWebPath != null %}
            <div class="photo">
                <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
            </div>
        {% endif %}
        <div class="offer-item-container">
            <div class="offer-item-container-group">
                <a href="{{ path('ls_offer_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>
                <a href="{{ path('ls_offer_show', {'slug': article.slug}) }}" class="more"></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}