{% extends '::frontend.html.twig' %}

{% block title %}Oferta - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="page-bg">
        <div class="pagebg">
            <img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
            <div class="page-background-triangle"></div>
        </div>
    </div>


    <div id="offer-show" class="page-container">

        <div class="container">
            <div class="left-container">
                <div class="page-title actuals-title">Oferta
                </div>
                <div class="actual-detail-title">{{ entity.title }}</div>

                <div class="separator"></div>
                <div class="content-text">{{ entity.content|raw }}</div>
                {% if entity.gallery %}
                    <div class="gallery">
                        {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: entity.gallery } %}
                    </div>
                {% endif %}
            </div>

            <div class="right-container">
            <a class="to-list" id="offer-to-list" href="{{ path('ls_offer') }}">Powrót do listy usług</a>
                {{ render(controller('LsOfferBundle:Front:block', { 'offer_id': entity.id })) }}
                {{ render(controller('LsBannerBundle:Front:block')) }}
            </div>

        </div>
    </div>

{% endblock %}