{% extends '::frontend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block content %}
    <div class="page-bg">
        <div class="pagebg">
            <img class="page-bg-img" src="{{ asset('bundles/lscore/front/images/page-bg.png') }}">
            <div class="page-background-triangle"></div>
        </div>
    </div>

    <div class="page-container">
        <div class="container">
            <div class="left-contact">
                <div class="page-title">Kontakt</div>
                    <div class="contact-info-container">
                        <div class="title">{{cms_config.get('contact_title', '')}}</div>
                        <div class="contact-info">
                            </span>{{cms_config.get('contact_information', '')|raw }}
                        </div>
                        <div class="contact-adress">
                            <div>{{cms_config.get('contact_adress1', '')}}</div>
                            <div>{{cms_config.get('contact_adress2', '')}}</div>
                        </div>
                        <div class="contact-info2">
                            <div>{{cms_config.get('contact_nip', '')}}</div>
                            <div>{{cms_config.get('contact_woj', '')}}</div>
                        </div>
                </div>
                <div id="map"></div>
            </div>
            <div class="right-contact">
                <div class="page-title">Formularz kontaktowy</div>
                {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                <div id="contact-name" class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                    <div class="contact-input">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <div id="contact-email" class="form-group">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                    <div class="contact-input">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>

                <div id="contact-phone" class="form-group">
                    {{ form_label(form.phone, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                    <div class="contact-input">
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>

                <div id="contact-contacttime" class="form-group">
                    {{ form_label(form.contacttime, null, {'label_attr': {'class': 'contact-label-time control-label' }}) }}
                    <div class="contact-input form-time">
                        {{ form_widget(form.contacttime, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>

                <div id="contact-content" class="form-group">
                    {{ form_label(form.content, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                    <div class="contact-input">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control contact-textarea' }}) }}
                    </div>
                </div>
    
                <div id="contact-" class="form-group">
                	<div class="message"></div>
                    <div class="contact-input">
                        {{ form_widget(form.submit, {'attr': {'class': 'contact-button' }}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div id="offer-contact" class="container">
            <div class="page-title" id="contact-offer">Zapytanie ofertowe</div>
            
            {{ form_start(offer_form, {'attr': {'id': offer_form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
                <div class="left-contact">
                    <div class="contact-offer-title">Dane dotyczące inwestycji:</div>
                    <div class="form-group">
                        {{ form_label(offer_form.localization, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.localization, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.purpose, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.purpose, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.surface, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input contact-offer-numbers-input">
                            {{ form_widget(offer_form.surface, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="contact-offer-m">m<sup>2</sup></div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.width, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input contact-offer-numbers-input">
                            {{ form_widget(offer_form.width, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="contact-offer-m">m</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.lenght, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input contact-offer-numbers-input">
                            {{ form_widget(offer_form.lenght, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="contact-offer-m">m</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.height, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input contact-offer-numbers-input">
                            {{ form_widget(offer_form.height, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="contact-offer-m">m</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.surface_soc, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input contact-offer-numbers-input">
                            {{ form_widget(offer_form.surface_soc, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="contact-offer-m">m<sup>2</sup></div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.gate_count, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.gate_count, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.offer_info, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.offer_info, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>

                <div class="right-contact">
                    <div class="contact-offer-title">Dane kontaktowe:</div>
                    <div class="form-group">
                        {{ form_label(offer_form.offername, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.offername, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.firma, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.firma, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.offerphone, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.offerphone, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.adress, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.adress, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.fax, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.fax, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.offeremail, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.offeremail, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(offer_form.contact_info, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
                        <div class="contact-input">
                            {{ form_widget(offer_form.contact_info, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>
                    <div class="offer-contact-button">
                    	<div class="offer-message"></div>
                        <div class="contact-input">
                            {{ form_widget(offer_form.submit, {'attr': {'class': 'contact-button' }}) }}
                        </div>
                    </div>
            {{ form_end(offer_form) }}
        </div>
    </div>
{% endblock %}

{% block google_javascripts %}
{% set marker = cms_config.get('google_maps_position', '')|split(',') %}
    <script>
      function initMap() {
        var myLatLng = {lat: {{marker[0]}}, lng: {{marker[1]}}};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          mapTypeControl: true,
          scrollwheel: true,
          zoom: 10
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoAAnre0FhtW07BIKA5AKVsoubmKCHjU8&callback=initMap"
        async defer></script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/lscore/front/js/qtip.min.js') }}"></script>
<script src="{{ asset('bundles/lscore/front/js/validate.js') }}"></script>

<script type="text/javascript">
$( "#form_contact" ).submit(function( event ) {
  event.preventDefault();
  sendContact("{{url}}", $(this).serialize())
});

$( "#form_contact_offer" ).submit(function( event ) {
  event.preventDefault();
  sendOfferContact("{{url}}", $(this).serialize())
});
</script>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/lscore/front/css/qtip.min.css') }}">
{% endblock %}