{% extends '::backend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_contact_offer') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td class="col-sm-3"><strong>Data wysłania</strong></td>
                        <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3 text-center"><strong>Dane kontaktowe</strong></td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Imię i nazwisko:</strong></td>
                        <td class="col-sm-9">{{ entity.offername }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Firma:</strong></td>
                        <td class="col-sm-9">{{ entity.firma }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Telefon:</strong></td>
                        <td class="col-sm-9">{{ entity.offerphone }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Adres:</strong></td>
                        <td class="col-sm-9">{{ entity.adress }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Fax:</strong></td>
                        <td class="col-sm-9">{{ entity.fax }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>E-mail:</strong></td>
                        <td class="col-sm-9">{{ entity.offeremail }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Informacje dodatkowe:</strong></td>
                        <td class="col-sm-9">{{ entity.contactinfo }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3 text-center"><strong>Dane dotyczące inwestycji:</strong></td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Planowana lokalizacja:</strong></td>
                        <td class="col-sm-9">{{ entity.localization }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Przeznaczenie obiektu:</strong></td>
                        <td class="col-sm-9">{{ entity.purpose }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Powierzchnia:</strong></td>
                        <td class="col-sm-9">{{ entity.surface }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Szerokość:</strong></td>
                        <td class="col-sm-9">{{ entity.width }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Długość:</strong></td>
                        <td class="col-sm-9">{{ entity.lenght }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Wysokość użytkowa:</strong></td>
                        <td class="col-sm-9">{{ entity.height }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Pow. socjalno-biurowa:</strong></td>
                        <td class="col-sm-9">{{ entity.surfacesoc }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Ilość i wielkość bram:</strong></td>
                        <td class="col-sm-9">{{ entity.gatecount }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Informacje dodatkowe::</strong></td>
                        <td class="col-sm-9">{{ entity.offerinfo }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}